<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>564831548215-4sur4orvl76s94luu7vt1bh8v14olpta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564831548215-4sur4orvl76s94luu7vt1bh8v14olpta</string>
	<key>API_KEY</key>
	<string>AIzaSyCu-iXPxhNppncP5iQgEMtKgfS2vVSyK_A</string>
	<key>GCM_SENDER_ID</key>
	<string>564831548215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rw.firebase.gettingstarted</string>
	<key>PROJECT_ID</key>
	<string>friendshub-db7f6</string>
	<key>STORAGE_BUCKET</key>
	<string>friendshub-db7f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564831548215:ios:11bd119eb6688866</string>
	<key>DATABASE_URL</key>
	<string>https://friendshub-db7f6.firebaseio.com</string>
</dict>
</plist>